@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.Delete {
  display: none;
}

body {
  font-family: Raleway;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header nav .nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

header .nav-content .logo img{
  border-radius: 50%;
}

header .nav-content .buy-menu i {
  font-size: 1.4rem;
  color: #3c6382;
  cursor: pointer;
}

.submenu {
  position: relative;
}

.submenu .shopping-cart {
  display: none;
}

.submenu:hover .shopping-cart {
display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}

#cart-content {
  border-collapse: collapse;
  margin: 0px 0 25px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.253);
}

#cart-content th, #cart-content td {
  padding: 12px 15px;
} 

header .nav-content .buy-menu .shopping-cart a {
  padding: 10px 106px;
  border: 1px solid #000;
  color: #000;
  text-transform: uppercase;
  border-radius: 8px;
}

header .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 570px;
}

header .hero img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 94px;
  left: 0px;
  z-index: -1;
  filter: blur(5px);
}

header .hero h1 {
  color: #fff;
  font-size: 3rem;
  text-shadow: 4px 2px 2px #000;
  line-height: 100px;
}

header .hero h4 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  text-shadow: 2px 2px 2px #000;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 1100px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 950px;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    width: 830px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 700px;
  }
  header .hero h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 540px;
  }
  header .hero h1 {
    font-size: 2rem;
  }
  header .hero h4 {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 420px;
  }
  header .hero h1 {
    font-size: 1.6rem;
  }
  header .nav-content .logo img {
    width: 60px;
  }
  header .hero h4 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 425px) {
  .container {
    width: 350px;
  }
  .submenu:hover .shopping-cart {
    right: 0;
  }
  header .hero h1 {
    font-size: 1.4rem;
  }
  header .hero h4 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 400px) {

}

@media only screen and (max-width: 375px) {
  .container {
    width: 330px;
  }
  .submenu:hover .shopping-cart {
    right: -17%;
    padding: 13px;
  }
  header .hero h1 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 350px) {
  .container {
    width: 320px;
  }

}

@media only screen and (max-width: 320px) {
  .container {
    width: 270px;
  }
  .submenu:hover .shopping-cart {
    right: -17%;
    padding: 5px;
    min-width: 280px;
  }
  header .nav-content .buy-menu .shopping-cart a {
    padding: 10px 96px;
  }
  #cart-content {
    min-width: 280px; 
  }
  header .hero h1 {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 300px) {
  .submenu:hover .shopping-cart {
    right: -3%;
    padding: 5px;
    min-width: 271px;
  }
  #cart-content {
    min-width: 257px; 
  }
  header .nav-content .buy-menu .shopping-cart a {
    padding: 10px 87px;
  }
}
